Repository waffiqaziz/BAZZ-Movies: changes, and which Codecov flags are due for each by the changed paths.
All: app, core-common, core-coroutines, core-data, core-database, core-designsystem, core-domain, core-favoritewatchlist, core-mappers, core-movie, core-network, core-test, core-uihelper, core-utils, core-user, feature-about, feature-detail, feature-favorite, feature-home, feature-login, feature-more, feature-person, feature-search, feature-watchlist

codecov.yml:

coverage:
  range: 60..80
  round: down
  precision: 2
  status:
    project: #docs https://docs.codecov.com/docs/commit-status
      default:
        target: auto
        threshold: 0%
        base: auto

codecov:
  max_report_age: off

flags:
  # App module
  app:
    paths:
      - app/
    
  # Core modules
  core-common:
    paths:
      - core/common/
      
  core-coroutines:
    paths:
      - core/coroutines/
      
  core-data:
    paths:
      - core/data/
      
  core-database:
    paths:
      - core/database/
      
  core-designsystem:
    paths:
      - core/designsystem/
      
  core-domain:
    paths:
      - core/domain/
      
  core-favoritewatchlist:
    paths:
      - core/favoritewatchlist/
      
  core-mappers:
    paths:
      - core/mappers/
      
  core-movie:
    paths:
      - core/movie/
      
  core-network:
    paths:
      - core/network/
      
  core-test:
    paths:
      - core/test/
      
  core-uihelper:
    paths:
      - core/uihelper/
      
  core-utils:
    paths:
      - core/utils/
      
  core-user:
    paths:
      - core/user/
      
  # Feature modules
  feature-about:
    paths:
      - feature/about/
      
  feature-detail:
    paths:
      - feature/detail/
      
  feature-favorite:
    paths:
      - feature/favorite/
      
  feature-home:
    paths:
      - feature/home/
      
  feature-login:
    paths:
      - feature/login/
      
  feature-more:
    paths:
      - feature/more/
      
  feature-person:
    paths:
      - feature/person/
      
  feature-search:
    paths:
      - feature/search/
      
  feature-watchlist:
    paths:
      - feature/watchlist/

flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 80%
      - type: patch
        target: 80%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

chore(ci/cd): update codecov flags (#207)
  codecov.yml
Due: none

chore(ci/cd): update codecov flags
  codecov.yml
Due: none

chore
  .github/workflows/android_test.yml
Due: none

chore(ci/cd): setup codecov flags (#208)
  .github/workflows/android_test.yml
  codecov.yml
Due: none

chore(ci/cd): setup danger code review
  .github/workflows/android_test.yml
Due: none

docs: change feature picture and reorganize badge on readme doc
  README.md
  docs/images/featured-picture.png
  docs/images/featured-picture.webp
Due: none

docs: add coverage badge each modules
  docs/BAZZMoviesTesting.md
Due: none

docs: add coverage badge each modules and update readme file (#210)
  README.md
  docs/BAZZMoviesTesting.md
  docs/images/featured-picture.png
  docs/images/featured-picture.webp
Due: none

docs: add coverage badge on each readme module
  core/common/README.md
  core/coroutines/README.md
  core/database/README.md
  core/designsystem/README.md
  core/domain/README.md
  core/favoritewatchlist/README.md
  core/mappers/README.md
  core/movie/README.md
  core/network/README.md
  core/test/README.md
  core/uihelper/README.md
  core/user/README.md
  core/utils/README.md
  feature/about/README.md
  feature/detail/README.md
  feature/favorite/README.md
  feature/home/README.md
  feature/login/README.md
  feature/more/README.md
  feature/person/README.md
  feature/search/README.md
  feature/watchlist/README.md
Due: core-common, core-coroutines, core-database, core-designsystem, core-domain, core-favoritewatchlist, core-mappers, core-movie, core-network, core-test, core-uihelper, core-utils, core-user, feature-about, feature-detail, feature-favorite, feature-home, feature-login, feature-more, feature-person, feature-search, feature-watchlist

docs: create readme for app module
  app/README.md
  docs/images/module-graphs/app.svg
Due: app

docs(readme): update for detail module
  feature/detail/README.md
Due: feature-detail

docs(readme): add test coverage badge on every modules (#212)
  app/README.md
  core/common/README.md
  core/coroutines/README.md
  core/database/README.md
  core/designsystem/README.md
  core/domain/README.md
  core/favoritewatchlist/README.md
  core/mappers/README.md
  core/movie/README.md
  core/network/README.md
  core/test/README.md
  core/uihelper/README.md
  core/user/README.md
  core/utils/README.md
  docs/images/module-graphs/app.svg
  feature/about/README.md
  feature/detail/README.md
  feature/favorite/README.md
  feature/home/README.md
  feature/login/README.md
  feature/more/README.md
  feature/person/README.md
  feature/search/README.md
  feature/watchlist/README.md
Due: app, core-common, core-coroutines, core-database, core-designsystem, core-domain, core-favoritewatchlist, core-mappers, core-movie, core-network, core-test, core-uihelper, core-utils, core-user, feature-about, feature-detail, feature-favorite, feature-home, feature-login, feature-more, feature-person, feature-search, feature-watchlist

chore(ci/cd): setup qodana
  .github/workflows/qodana.yml
Due: none

chore(ci/cd): create codana configuration
  qodana.yml
Due: none

chore(ci/cd): setup qodana code analysis (#217)
  .github/workflows/qodana.yml
  qodana.yml
Due: none

chore(ci/cd): setup qlty code coverage
  .github/workflows/android_test.yml
Due: none

chore(ci/cd): resolve workflow failure
  .github/workflows/android_test.yml
Due: none

chore(ci/cd): setup qlty code coverage (#219)
  .github/workflows/android_test.yml
Due: none

chore(ci/cd): add qlty config
  .qlty/qlty.toml
Due: none

docs: add test name convention
  CONTRIBUTING.md
  docs/BAZZMoviesTestNamingConvention.md
  docs/BAZZMoviesTesting.md
Due: none

refactor: rename test name to match the regular expression
  app/src/androidTest/kotlin/com/waffiq/bazz_movies/ui/app/RoutingActivityTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceDetailTvTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePagingMovieTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePagingTrendingTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePagingTvTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePersonTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePostTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/UserDataSourceDetailTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/UserDataSourceLoginTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/UserDataSourceRegionTest.kt
Due: app, core-network

refactor: rename test name to follow guidance on core common module
  core/common/src/test/kotlin/com/waffiq/bazz_movies/core/common/utils/EventTest.kt
Due: core-common

refactor: rename test name to follow guidance on core uihelper module
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/ui/adapter/LoadingStateAdapterTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/ActionBarBehaviorTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/AnimationTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/CustomSnapHelperTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/GestureHelperIsButtonNavigationEnabledTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/GestureHelperTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/HelpersTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/ScrollActionBarBehaviorTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/SnackbarUtilsTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/SnackbarUtilsTestWithMockk.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/ToastShortTest.kt
Due: core-uihelper

refactor: rename test name to follow guidance on core coroutines module
  core/coroutines/src/test/kotlin/com/waffiq/bazz_movies/core/coroutines/DispatcherModuleTest.kt
Due: core-coroutines

refactor: rename test name to follow guidance on core mapper module
  core/mappers/src/test/kotlin/com/waffiq/bazz_movies/core/mappers/PostMapperTest.kt
  core/mappers/src/test/kotlin/com/waffiq/bazz_movies/core/mappers/ResultItemMapperTest.kt
  core/mappers/src/test/kotlin/com/waffiq/bazz_movies/core/mappers/StateMapperTest.kt
Due: core-mappers

refactor(test)r: remove duplicate string
  core/common/src/test/kotlin/com/waffiq/bazz_movies/core/common/utils/EventTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/data/room/FavoriteDaoTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/domain/usecase/localdatabase/LocalDatabaseInteractorTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/utils/DatabaseMapperTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/testutils/Constants.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/adapter/FavoriteAdapterDBTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/adapter/FavoriteMovieAdapterTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/adapter/FavoriteTvAdapterTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceDetailTvTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePagingTvTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePersonTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/UserDataSourceLoginTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/testutils/BaseMovieDataSourceTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/testutils/BaseUserDataSourceTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/testutils/TestHelper.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/SnackbarUtilsTest.kt
  core/uihelper/src/test/kotlin/com/waffiq/bazz_movies/core/uihelper/utils/SnackbarUtilsTestWithMockk.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/domain/usecase/MultiSearchInteractorTest.kt
Due: core-common, core-database, core-favoritewatchlist, core-network, core-uihelper, feature-search

refactor: rename test name to follow guidance on core database module
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/data/datasource/LocalDataSourceMockkTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/data/datasource/LocalDataSourceTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/data/repository/DatabaseRepositoryImplTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/di/DatabaseModuleUnitTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/domain/usecase/localdatabase/LocalDatabaseInteractorTest.kt
  core/database/src/test/kotlin/com/waffiq/bazz_movies/core/database/utils/DatabaseMapperTest.kt
Due: core-database

refactor: rename test name to follow guidance on core network module
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceDetailMovieTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceDetailTvTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceOMDbTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePagingMovieTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePagingTrendingTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePagingTvTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePersonTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourcePostTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceWatchProvidersTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/UserDataSourceDetailTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/UserDataSourceLoginTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/UserDataSourceRegionTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/pagingsources/GenericPagingSourceTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/pagingsources/SearchPagingSourceTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/responses/omdb/OMDbDetailsResponseTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/responses/tmdb/detailmovietv/movie/DetailMovieResponseTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/responses/tmdb/detailmovietv/tv/DetailTvResponseTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/retrofit/adapter/RatedResponseAdapterLogErrorTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/retrofit/adapter/RatedResponseAdapterTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/retrofit/adapter/RatedResponseAdapterToJsonTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/retrofit/interceptors/ApiKeyInterceptorTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/di/NetworkConfigModuleTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/di/NetworkModuleTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/domain/DebugConfigImplTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/utils/helpers/SafeApiCallHelperTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/utils/mappers/NetworkMapperTest.kt
Due: core-network

refactor: rename test name to follow guidance on core movie module
  core/movie/src/test/kotlin/com/waffiq/bazz_movies/core/movie/data/repository/MovieRepositoryTest.kt
  core/movie/src/test/kotlin/com/waffiq/bazz_movies/core/movie/domain/model/post/PostFavoriteWatchlistTest.kt
  core/movie/src/test/kotlin/com/waffiq/bazz_movies/core/movie/domain/usecase/getstated/GetStatedMovieInteractorTest.kt
  core/movie/src/test/kotlin/com/waffiq/bazz_movies/core/movie/domain/usecase/getstated/GetStatedTvInteractorTest.kt
  core/movie/src/test/kotlin/com/waffiq/bazz_movies/core/movie/domain/usecase/postmethod/PostMethodInteractorTest.kt
  core/movie/src/test/kotlin/com/waffiq/bazz_movies/core/movie/utils/mappers/MapperTest.kt
Due: core-movie

refactor: rename test name to follow guidance on core user module
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/data/model/UserModelTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/data/model/UserPreferenceMemTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/data/model/UserPreferenceMockTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/data/model/UserPreferenceMockTwoTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/data/model/UserPreferenceMockkTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/data/model/UserPreferenceNonMockTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/data/repository/UserRepositoryTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/di/DatastoreModuleTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/domain/model/account/AuthenticationTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/domain/model/account/AvatarTMDbTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/domain/model/account/CountryIPTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/domain/model/account/GravatarTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/domain/usecase/authtmdbaccount/AuthTMDbAccountInteractorTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/domain/usecase/getregion/GetRegionInteractorTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/domain/usecase/userpreference/UserPrefInteractorTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/testutils/DataStoreTestRule.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/ui/viewmodel/RegionViewModelTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/ui/viewmodel/UserPreferenceViewModelTest.kt
  core/user/src/test/kotlin/com/waffiq/bazz_movies/core/user/utils/mappers/AccountMapperTest.kt
Due: core-user

refactor: rename test name to follow guidance on core favorite watchlist module
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/testutils/Constants.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/adapter/FavoriteAdapterDBTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/adapter/FavoriteMovieAdapterTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/adapter/FavoriteTvAdapterTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/viewmodel/BaseViewModelTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/ui/viewmodel/SharedDBViewModelTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/utils/common/ConstantsTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/utils/helpers/HandlePagingLoadStateTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/utils/helpers/SnackBarUserLoginDataTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/utils/helpers/SnackbarAlreadyUtilsTest.kt
  core/favoritewatchlist/src/test/kotlin/com/waffiq/bazz_movies/core/favoritewatchlist/utils/helpers/SwipeCallbackHelperTest.kt
Due: core-favoritewatchlist

refactor: rename test name to follow guidance on feature login module
  feature/login/src/androidTest/kotlin/com/waffiq/bazz_movies/feature/login/ui/LoginActivityTest.kt
  feature/login/src/test/kotlin/com/waffiq/bazz_movies/feature/login/ui/AuthenticationViewModelTest.kt
  feature/login/src/test/kotlin/com/waffiq/bazz_movies/feature/login/utils/CustomTypefaceSpanTest.kt
Due: feature-login

refactor: rename test name to follow guidance on feature more module
  feature/more/src/test/kotlin/com/waffiq/bazz_movies/feature/more/ui/MoreLocalViewModelTest.kt
  feature/more/src/test/kotlin/com/waffiq/bazz_movies/feature/more/ui/MoreUserViewModelTest.kt
Due: feature-more

refactor: rename test name to follow guidance on feature search module
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/data/repository/SearchRepositoryImplTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/data/repository/SearchRepositoryImplTestTwo.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/domain/model/KnownForItemTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/domain/model/ResultItemSearchTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/domain/usecase/MultiSearchInteractorTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/ui/SearchAdapterTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/ui/SearchViewModelTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/ui/ShimmerAdapterTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/utils/SearchHelperTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/utils/SearchMapperTest.kt
  feature/search/src/test/kotlin/com/waffiq/bazz_movies/feature/search/utils/SetupRecyclerViewTest.kt
Due: feature-search

refactor: rename test name to follow guidance on feature person module
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/data/repository/PersonRepositoryImplTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/domain/model/CastItemTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/domain/model/CombinedCreditPersonTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/domain/model/CrewItemTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/domain/model/DetailPersonTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/domain/model/ImagePersonTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/domain/model/ProfilesItemTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/domain/usecase/GetDetailPersonInteractorTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/ui/PersonViewModelTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/ui/adapter/ImagePagerAdapterTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/ui/adapter/ImagePersonAdapterTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/ui/adapter/KnownForAdapterTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/utils/helper/PersonPageHelperRoboTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/utils/helper/PersonPageHelperTest.kt
  feature/person/src/test/kotlin/com/waffiq/bazz_movies/feature/person/utils/mapper/PersonMapperTest.kt
Due: feature-person

feat(detail): show missing ad-supported watch providers on movie detail
  core/designsystem/src/main/res/values-night/themes.xml
  core/designsystem/src/main/res/values/strings.xml
  core/designsystem/src/main/res/values/themes.xml
  core/network/src/main/kotlin/com/waffiq/bazz_movies/core/network/data/remote/responses/tmdb/detailmovietv/watchproviders/CountryProviderDataResponse.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/domain/model/watchproviders/CountryProviderData.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/ui/manager/WatchProvidersManager.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/ui/state/WatchProvidersUiState.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/ui/viewmodel/DetailMovieViewModel.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/utils/mappers/WatchProvidersMapper.kt
  feature/detail/src/main/res/layout/activity_detail_movie.xml
Due: core-designsystem, core-network, feature-detail

test: create missing test for ads watch provider
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceWatchProvidersTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/testutils/DataDumpManager.kt
Due: core-network

feat(detail): add missing ad-supported watch providers to detail page (#222)
  core/designsystem/src/main/res/values-night/themes.xml
  core/designsystem/src/main/res/values/strings.xml
  core/designsystem/src/main/res/values/themes.xml
  core/network/src/main/kotlin/com/waffiq/bazz_movies/core/network/data/remote/responses/tmdb/detailmovietv/watchproviders/CountryProviderDataResponse.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/data/remote/datasource/MovieDataSourceWatchProvidersTest.kt
  core/network/src/test/kotlin/com/waffiq/bazz_movies/core/network/testutils/DataDumpManager.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/domain/model/watchproviders/CountryProviderData.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/ui/manager/WatchProvidersManager.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/ui/state/WatchProvidersUiState.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/ui/viewmodel/DetailMovieViewModel.kt
  feature/detail/src/main/kotlin/com/waffiq/bazz_movies/feature/detail/utils/mappers/WatchProvidersMapper.kt
  feature/detail/src/main/res/layout/activity_detail_movie.xml
Due: core-designsystem, core-network, feature-detail

test: create unit test for core domain module
  core/domain/build.gradle.kts
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/FavoriteModelTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/FavoriteTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/GenresItemTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/MovieTvCastItemTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/OutcomeTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/PostTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/RatedTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/ResultItemTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/StatedTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/UserModelTest.kt
  core/domain/src/test/kotlin/com/waffiq/bazz_movies/core/domain/WatchListModelTest.kt
Due: core-domain
